---
import FormattedDate from '../../components/FormattedDate.astro'
import Main from '../../layouts/Main.astro'
import { getCollection } from 'astro:content'

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
)
---

<Main
  title="Blog"
  description="A little bit of everything. A personal blog about compute science, technology and specially programming.">
  <h1
    class="mb-12 font-serif text-5xl font-extrabold leading-tight text-center text-black lg:leading-tight sm:leading-tight md:leading-tight sm:text-6xl md:text-7xl lg:text-8xl dark:text-white">
    <span>A little bit of everything</span>
  </h1>
  <div class="mb-3 italic text-neutral-500">
    Total of {posts.length} posts, ordered by date ↓
  </div>
  <ul class="space-y-8">
    {
      posts.map((post) => (
        <li>
          <a href={`/blog/${post.slug.replace(/^[0-9]+-/, '')}/`}>
            <h1 class="font-serif text-3xl text-black dark:text-white">{post.data.title}</h1>
            <div class="mb-4 text-neutral-500">
              Published on <FormattedDate date={post.data.pubDate} />
            </div>
            <div class="italic text-neutral-500">{post.data.description}</div>
          </a>
        </li>
      ))
    }
  </ul>
</Main>
