<button
  class="px-6 py-3 text-lg font-medium transition-colors border rounded-lg hover:text-black hover:dark:text-white text-neutral-400 dark:text-neutral-600 border-neutral-200 dark:border-neutral-800 hover:bg-neutral-100/50 hover:dark:bg-neutral-900/50">
  <slot />
</button>
